[2021-08-01 19:51] mochadwi opened #8 "Does pluto able to intercept HTTP Request e.g other than Okhttp?"
e.g: HttpConnection, FastNetworking, Ktor, etc

[2021-08-02 04:40] mocklets-tech commented on #8
hey @mochadwi,
for now, Pluto intercepts only Okhttp requests.

if you have any specific usecase, do share with us, we will try to include it in our future releases.

[2021-08-05 16:26] YurkivTaras opened #13 "Add share option "file" as an alternative to text sharing(like in chucker)"

[2021-08-05 16:34] YurkivTaras opened #14 "Add the ability to change the default logger. For example, I want to be able to use timber functionality instead of the default log"

[2021-08-09 07:48] amankgo commented on #8
We can add an optional support for logging `HttpURLConnection` through `URLStreamHandlerFactory`, `URLStreamHandler`, `URL.setURLStreamHandlerFactory()`

Maybe some level of logging can be achieved through this.

See this answer: https://stackoverflow.com/a/26409796/2960297

[2021-08-09 10:33] neeshurajput opened #18 "Spaces getting removed from curl request"
When we share the curl request from Network call detail page, then all the spaces re getting removed from the curl request,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pluto network calls log page
2. Click on any api request
3. On the app call detail page click on copy curl and paste it somewhere
4. The request body in the curl request doesn't have any spaces in it.

**Expected beh

[2021-08-09 11:12] amankgo opened #19 "Build issues because of duplicate attribute corner_radius"
**Describe the bug**
Build issues because of duplicate attribute.
`AAPT: error: duplicate value for resource 'attr/corner_radius' with config ''`

https://github.com/mocklets/pluto/blob/445ad948e282a2054044056bf9a26c15b0820b82/pluto/src/main/res/values/attr.xml#L5

Can we append resource prefix here also to not use a common name which might conflict with some other library in big projects?

**To R

[2021-08-10 11:13] prudhvir3ddy opened #20 "use AppStartup library instead of no-op"
**Is your feature request related to a problem? Please describe.**
currently, we have to add two dependencies, one for debug and one for release.

**Describe the solution you'd like**
AppStartup library instead initialises the library using ContentProvider.
https://developer.android.com/topic/libraries/app-startup

**Describe alternatives you've considered**
A clear and concise description of any

[2021-08-11 07:02] srtvprateek commented on #19
fixed, PR: https://github.com/mocklets/pluto/pull/22

[2021-08-11 07:02] #19 closed, assigned to srtvprateek

[2021-08-11 12:46] amankgo commented on #19
Thank you for quick fix. Can you tell when are you planning for next release.
Also I am happy to contribute to this project if you like.

[2021-08-13 08:12] Dalakoti07 opened #23 "Task :app:mergeDebugResources FAILED"
**Describe the bug**
Build getting failed with Task :app:mergeDebugResources FAILED error

**To Reproduce**
Steps to reproduce the behavior:
1. follow the startup guide
2. Add dependency
3. Build project
4. See build error

**Screenshots**
https://imgur.com/a/iMkysPE

**Full error logs**
`> Task :app:mergeDebugResources
/home/dalakoti07/.gradle/caches/transforms-3/ac13ed731ff91608bb885e6070e58d98/

[2021-08-16 14:36] srtvprateek commented on #19
working on 1 issue currently, will be releasing new version soon.

[2021-08-16 14:39] srtvprateek commented on #19
i would love to see you contributing 💯
currently, our contribution guidelines are WIP, will publish those soon.

[2021-08-23 12:16] sonusourav opened #24 "Easy access button is not working properly"
**Describe the bug**
A clear and concise description of what the bug is.
Many times even when I click on the Pluto easy access button (floating on top of my app), it does not open the Pluto screen
Sometime, it get opened, but most of the time it does not open.

**Screenshots**

https://user-images.githubusercontent.com/34706326/130896315-f8531a15-0221-4f14-9e7f-21e125c48e79.mp4

**Smartphone (plea

[2021-08-23 12:59] sonusourav opened #25 "Crash on clicking setting icon in Pluto"
**Describe the bug**
App is crashing on clicking setting icon in Pluto.

**To Reproduce**
Steps to reproduce the behavior:
1. Opened my app
2. Opened Pluto
3. Clicked on the Pluto

**Screenshots**

https://user-images.githubusercontent.com/34706326/130451107-da9d9c31-c67c-4d0e-ad00-05fbf3a84f7e.mp4

**Smartphone (please complete the following information):**
 - Device: Samsung F41
 - OS: Android 1

[2021-08-24 06:47] srtvprateek commented on #23
@Dalakoti07 can you share the library version.

[2021-08-24 06:54] Dalakoti07 commented on #23
version 1.0.4

Gradle: 7.0.0
kotlin_version = '1.5.21'

[2021-08-24 10:25] ABIvan-Tech opened #29 "Demo link doesn't work"

[2021-08-24 10:25] #29 closed, assigned to srtvprateek

[2021-08-25 05:14] srtvprateek commented on #19
library version `v1.0.4` is live with the fix

[2021-08-25 10:37] FedzhoraO opened #36 "PendingIntents changes in Android 12"
**Describe the bug**
According to [Google's changes](https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mutability) we must specify the mutability of each PendingIntent object. Please add flags to SetupNotification.kt line 21 and CrashNotification.kt line 21 as well.

**To Reproduce**
Steps to reproduce the behavior:
1. set compileSdkVersion and targetSdkVersion in

[2021-08-25 12:24] mimoccc opened #37 "Please define @JvmStatic for log functions"
**Is your feature request related to a problem? Please describe.**
The library does not support java calls, please add @JvmStatic annotations

**Describe the solution you'd like**
    @JvmStatic
    fun e(tr: Throwable?) {
        e(tr?.message ?: "", tr)
    }

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-25 12:27] mimoccc opened #38 "The call can be simplified same behavior as Timber have, no tag string is needed or can be optional"
**Is your feature request related to a problem? Please describe.**
Love the Timber calls that does not need a tag string, also missing calls for exceptions only.

**Describe the solution you'd like**
For exceptions:
    @JvmStatic
    fun e(tr: Throwable?) {
        e(tr?.message ?: "", tr)
    }
Where to get tags:
From stacktrace, something like:
 val tag = Thread.currentThread().stackTrace.let {

[2021-08-25 21:01] srtvprateek commented on #20
thanks @prudhvir3ddy,
will explore this 👍🏽

[2021-08-25 21:04] srtvprateek commented on #24
@sonusourav can you attach any video for the issue

[2021-08-26 03:36] sonusourav commented on #24
@srtvprateek Have attached the video for the issue (although the press action might not be very much visible in the video)

[2021-08-26 09:52] mimoccc opened #41 "use kotlin-parcelize instead of kotlin-extensions"
**Describe the bug**
kotlin-extensions are obsolete, just remove it and use id:kotlin-parcelize

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (p

[2021-08-26 18:28] prudhvir3ddy commented on #20
@srtvprateek while this is possible for the initialisation of library i can see for adding interceptor people again have to check if (BuildConfig.Debug) which we don't want..

closing this, one day we might find a solution for this but currently doesn't look like it's possible. Thanks

[2021-08-26 18:28] #20 closed, assigned to srtvprateek

[2021-08-27 16:45] mimoccc opened #43 "Please use synchronization in LogsRepo."
**Describe the bug**
ConcurrentException happen in LogsRepo.

Use synchronization on list to avoid it.

Example:
fun save(level: Level, tag: String, message: String?, tr: Throwable?, ele: StackTraceElement) {
        synchronized(logsList) {
            logsList.add(0, LogData(level, tag, message ?: "", tr, ele))
            val temp = logsList.take(MAX_LIMIT)
            logsList.clear()

[2021-08-27 18:25] #43 closed, assigned to srtvprateek

[2021-08-27 18:25] #37 closed, assigned to nobody

[2021-08-27 18:40] srtvprateek commented on #25
@sonusourav please upgrade to version 1.0.4,
this should be fixed.

[2021-08-27 19:16] srtvprateek commented on #23
@Dalakoti07 we figured out the root cause of the issue.
in one of the dependencies `'androidx.preference:preference-ktx:1.1.1'`,
a property `SeekBarPreference` is defined with attr `min`, which is conflicting with your value.

trying to figure out a workaround it, but as a general practice, you can rename the attr key to something with does not conflict with any of the dependencies.

[2021-08-27 20:07] Dalakoti07 commented on #23
Thanks @srtvprateek looking forward for the fix

[2021-08-27 20:28] Dalakoti07 commented on #23
As of now I have changed my attribute values and its working fine. Not getting any conflicting build issue

[2021-08-28 12:24] mimoccc commented on #24
Debug logcat info could be usefull.
(minimally if activity is started after click on button)
Possible scenario is that Intent need to have flag reorder to front, a may be log is open under application, or your application is also in alert window mode.

[2021-08-28 18:04] srtvprateek commented on #13
file sharing option added

[2021-08-28 18:04] #13 closed, assigned to srtvprateek

[2021-08-28 18:31] #41 closed, assigned to srtvprateek

[2021-08-28 18:59] #36 closed, assigned to srtvprateek

[2021-08-29 05:12] sonusourav commented on #25
Hey @srtvprateek ,I just checked, the error is not coming anymore after updating the version. Thanks for the quick response

[2021-08-29 05:12] #25 closed, assigned to srtvprateek

[2021-08-29 08:11] #18 closed, assigned to srtvprateek

[2021-08-29 09:05] srtvprateek opened #50 "Share option in App properties"
**Is your feature request related to a problem? Please describe.**
- option for sharing app properties

[2021-08-29 09:06] srtvprateek opened #51 "Share option for cURL"
**Is your feature request related to a problem? Please describe.**
 - cURL request can only be copied, need option to share it as text/file also

[2021-08-29 09:09] srtvprateek opened #52 "add feature flag to allow catch exceptions"
**Is your feature request related to a problem? Please describe.**
- allow catching exceptions locally and provide callback to intercept and submit to Crashlytics, etc tools manually.

discussion reference : https://github.com/mocklets/pluto/discussions/10

[2021-08-29 09:11] srtvprateek opened #53 "explore DataStore Preferences"
**Is your feature request related to a problem? Please describe.**
- Support DataStore preferences along the SharedPreferences

discussion reference : https://github.com/mocklets/pluto/discussions/10

[2021-08-29 20:15] #51 closed, assigned to srtvprateek

[2021-08-29 20:50] #50 closed, assigned to srtvprateek

[2021-08-30 14:02] Woren opened #58 "AndroidX support"
**Is your feature request related to a problem? Please describe.**
Applications using this library needs to have dependency on deprecated com.android.support library and also be using enableJetifier=true instead of false if they already migrated. This is slowing for example builds and forcing apps to be using non AndroidX libraries.

**Describe the solution you'd like**
Delete or replace deprecate

[2021-08-30 14:28] Woren opened #59 "FileProvider - conflict"
**Describe the bug**
Can't build application when using own FileProvider.

**To Reproduce**
Steps to reproduce the behavior:

Have your own FileProvider in your AndroidManifest.xml

When building application you get error message:

	Attribute provider#androidx.core.content.FileProvider@authorities value=(com.your.app.debug.fileProvider) from [:moduleName] AndroidManifest.xml:14:13-64
	is also pres

[2021-08-30 15:28] srtvprateek commented on #59
this has been fixed in **https://github.com/mocklets/pluto/pull/55**
will be live in version **1.0.6**

[2021-08-30 15:28] #59 closed, assigned to srtvprateek

[2021-08-30 21:17] #58 closed, assigned to nobody

[2021-09-01 09:11] arosca-nl opened #62 "Project uses v4 code, forcing to use Jetifier"
**Describe the bug**
Issue might not be noticed as android.enableJetifier=true is the default setting but in a project where all 3rd party libs were up to date android.enableJetifier=false will make the compile faster

**To Reproduce**
Steps to reproduce the behavior:
In gradle.properities change
android.enableJetifier=true
to
android.enableJetifier=false
run/compile project

Execution failed for

[2021-09-01 09:35] arosca-nl commented on #62
Duplicate issue

[2021-09-01 09:35] #62 closed, assigned to srtvprateek

[2021-09-01 11:06] ravitejasc opened #63 "(LeakCanary) Memory leak"
**Describe the bug**
Leakcanary detected memory leak

**To Reproduce**
Add leakcanary to the project

**Log**
[code]

[2021-09-01 20:04] #23 closed, assigned to srtvprateek

[2021-09-01 21:34] #63 closed, assigned to srtvprateek

[2021-09-01 21:37] srtvprateek commented on #63
fixed,
will be live in version 1.0.7

[2021-09-02 08:02] jimlyas opened #65 "Local Database Viewer"
## Is your feature request related to a problem? Please describe.
It's not related to a problem, but i find it quite useful in the future.

## Describe the solution you'd like
So the current version have the ability to look keys and values of `SharedPreference`. And I think Local Database Inspector would be a great addition. Furthermore, the ability to update values to the database is good too.

#

[2021-09-02 10:22] srtvprateek commented on #24
@sonusourav made some improvement fixes around `Easy access button`
can you try this once on version 1.0.7

[2021-09-02 10:35] sonusourav commented on #65
+1 For this. This is something that I was even planning to include

[2021-09-02 13:20] Woren opened #66 "Logger - share option"
**Is your feature request related to a problem? Please describe.**
I have in code for example this log:
PlutoLog.e("Flow.catchAndPrint", it.message, it)
but in Pluto Viewer there is no share option for this.
![image](https://user-images.githubusercontent.com/1436458/131849934-4e996fea-eb0e-471b-bfed-e4f4f47c4f1a.png)

For ANR and Crash there is this option.
![image](https://user-images.githubuserc

[2021-09-02 13:53] srtvprateek commented on #66
@Woren seems like the Logger details bottomsheet is getting scrolled to bottom in case of too much data,
can you try to scroll to top, there will be a sharing option there.

will fix it in next release.

[2021-09-02 15:11] sonusourav commented on #24
Hey looks like you have forced the minSDk to be 21. We have 19 as minSDK so won't be able to use this lib in that case. But we are planning to upgrade in the future. Just wanted to know, any strong reason to use 21 instead of 19

[2021-09-02 15:22] sonusourav commented on #24
Btw, now some weird issue is coming. I could see multiple copies of button and those persists even after app exit.
Attached screenshots:

![2021_09_02_08_47_42](https://user-images.githubusercontent.com/34706326/131871179-77631ab3-36e6-410e-9748-7813b68ce7e9.jpeg)

![2021_09_02_08_48_16](https://user-images.githubusercontent.com/34706326/131871203-58a55793-3596-4725-801c-3ff0e014bc66.jpeg)

[2021-09-02 15:32] sonusourav opened #67 "Catch Memory Leaks"
**Is your feature request related to a problem? Please describe.**
Pluto should be able to capture memory leaks also, thus becoming a superset of Leak Canary.

For Context: We are using leak canary but we like your library and so was thinking to use this for debugging from now on. But, we are also using Leak canary and if Pluto could include the feature provided by Leak Canary (capture memory leak

[2021-09-02 17:20] #66 closed, assigned to nobody

[2021-09-02 17:42] srtvprateek commented on #67
hey @sonusourav, glad you like Pluto, to answer your queries
- we don't see how we can add more value to what LeakCanary is already providing. If we can provide better leak management, we would definitely look into it, but there is no roadmap for that yet. If you have any use-case in mind, please do share.
- we are actively looking into integrating Database Inspector, you will hear soon from us on

[2021-09-02 18:11] srtvprateek commented on #24
initially we were supporting `minSdk=16`, then we decided to upgraded to inorder to get rid of `compat` code, let me see if we can downgrade to `19` to keep supporting you.

for the multiple `Easy Access button` issue, can you share
- Device model
- Android OS version

[2021-09-02 18:14] sonusourav commented on #24
Device model and Android OS version are same as mentioned in the issue description

[2021-09-03 16:29] RoRoche opened #71 "Activate and deactivate the debugging (and notification) on demand"
I'd like to programmatically (de)activate the debugging (and notification), for example by turning a switch "debug mode" in settings.

As there is a method `Pluto.initialize(context)`, it could be a `Pluto.terminate(context)` one. Personally, I prefer the "start/stop" tuple but whatever.

Maybe it could be painful for the related classes (OkHttp's interceptor, ANRListener), to stop the debugging.

[2021-09-09 10:19] lepicekmichal opened #72 "Parsing/prettifying response is on main thread"
**Describe the bug**
If response json is too big (confirmed with 315 kB) then app gets stuck.

**To Reproduce**
Steps to reproduce the behavior:
1. Call API with enormous response
2. Open pluto
3. Open the endpoint detail
4. Switch to response tab
5. Move around/try to scroll
6. See error

**Expected behavior**
Response should be parsed much faster or with loading. Definitely not on main thread th

[2021-09-09 10:22] lepicekmichal opened #73 "Stop asking for overlay permission"
**Is your feature request related to a problem? Please describe.**
I have to constantly skip initial screen of asking permission to overlay. I don't want it not once but forever.

**Describe the solution you'd like**
Ask for the overlay permission only when I want to switch the overlay button on. So yeah, also add such on/off checkbox into settings.

[2021-09-10 08:51] #73 closed, assigned to nobody

[2021-09-14 08:14] AlexanderShirokih opened #76 "java.lang.VerifyError on API 19"
**Describe the bug**
In development branch minSdkVersion is 19, but Pluto crashes the application when Pluto.initialize(context) is called. Any older versions(tested with 0.23, 1.0.0, 1.0.2-beta, 1.0.4) that has minSdkVersion < 21 also causes this bug.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set minSdkVersion in sample project to 19
2. Run the application

**Expected behavior

[2021-09-14 08:27] neeshurajput commented on #24
@srtvprateek The issue can be reproduced as follows :
Open the app
Press back button and move out of the app
Open the app again

[2021-09-15 17:48] srtvprateek commented on #76
@AlexanderShirokih tried to reproduce the issue after setting `minSdkVersion 19`,  but not getting the above exception.
Can you share the configuration of the emulator?

[2021-09-15 18:24] AlexanderShirokih commented on #76
@srtvprateek, config.ini:

Name: Nexus_5_API_19

CPU/ABI: Google APIs Intel Atom (x86)
Path: /home/alexander/.android/avd/Nexus_5_API_19.avd
Target: google_apis [Google APIs] (API level 19)
Skin: nexus_5
SD Card: 512 MB
fastboot.chosenSnapshotFile:
runtime.network.speed: full
hw.accelerometer: yes
hw.device.name: Nexus 5
hw.lcd.width: 1080
hw.initialOrientation: Portrait
image.androidVersion.api:

[2021-09-16 11:09] Shubhamsdr3 opened #77 "read timeout on release build"
**Describe the bug**
I am getting read timeout while building the release apk. My concern is, why it's resolving no-op dependency on release build ?

**Version**

    debugImplementation 'com.mocklets:pluto:1.0.2-beta'
    releaseImplementation'com.mocklets:pluto-no-op:1.0.2-beta'

**Screenshots**

<img width="790" alt="Screen Shot 2021-09-16 at 4 27 01 PM" src="https://user-images.githubuserconte

[2021-09-17 01:19] zhourenjun opened #78 "use navigation+koin+jetpack and click "Logger,Crashes&ANRs,SP""
com.creative.recure

 Product: US716I
 CPU_ABI: ["arm64-v8a","armeabi-v7a","armeabi"]
 TAGS: test-keys
 VERSION_CODES.BASE: 1
 MODEL: US716I
 SDK: 28
 VERSION.RELEASE: 9
 DEVICE: US716I
 DISPLAY: UF282.P0.V10.1.RC-V20.8768T.M64
 BRAND: US716I
 BOARD: US716I
 FINGERPRINT: alps/full_tb8768p1_64_bsp_m8/tb8768p1_64_bsp_m8:9/PPR1.180610.011/psg03011058:userdebug/test-keys
 ID: PPR1.180610.011
 MANUFACT

[2021-09-17 20:36] srtvprateek commented on #77
@Shubhamsdr3 since jcenter is shutting down, we have migrated to mavenCentral,
please refer to the [latest docs](https://github.com/mocklets/pluto#integrate-pluto-in-your-application)

[2021-09-17 20:37] srtvprateek commented on #78
@zhourenjun please share the library version

[2021-09-18 00:48] zhourenjun commented on #78
debugImplementation 'com.mocklets:pluto:1.0.1'

[2021-09-18 01:25] zhourenjun commented on #78
1.0.7 same

[2021-09-18 06:08] zhourenjun commented on #78
com.creative.recure

 Product: US716I
 CPU_ABI: ["arm64-v8a","armeabi-v7a","armeabi"]
 TAGS: test-keys
 VERSION_CODES.BASE: 1
 MODEL: US716I
 SDK: 28
 VERSION.RELEASE: 9
 DEVICE: US716I
 DISPLAY: UF282.P0.V10.1.RC-V20.8768T.M64
 BRAND: US716I
 BOARD: US716I
 FINGERPRINT: alps/full_tb8768p1_64_bsp_m8/tb8768p1_64_bsp_m8:9/PPR1.180610.011/psg03011058:userdebug/test-keys
 ID: PPR1.180610.011
 MANUFACT

[2021-09-18 18:26] #77 closed, assigned to srtvprateek

[2021-09-19 09:35] Shubhamsdr3 commented on #77
Thank you @srtvprateek :)

[2021-09-19 09:40] #24 closed, assigned to srtvprateek

[2021-09-20 07:05] mohitsvnit opened #80 "Header info is not visible in request or curl"
**Describe the bug**
Headers info is not visible in request as well as not getting added in curl request share or file share.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pluto Network tab'
2. Click on 'any request'
3. See 'headers info'

**Expected behavior**
All headers should be visible on the debugger screen as well as in curl

**Smartphone (please complete the following inform

[2021-09-20 12:15] poojasngh432 opened #81 "Response Body shows - " ~ Binary Data " in Pluto"
**No Response Body info in pluto for some apis while it works for apis we're calling through Retrofit**

**To Reproduce**
Steps to reproduce the behavior:

the code for making the call is this(I have added PlutoInterceptor in the okhttp client's code):
[code]

**Expected behavior**
![Screenshot_2021-09-20-17-32-51-216_com aranoah healthkart plus](https://user-images.githubusercontent.com/29397540/

[2021-09-20 12:34] srtvprateek commented on #81
hi @poojasngh432, can you share the content-type value for the API.
you can refer to the Request header section.

[2021-09-20 12:35] srtvprateek commented on #80
hi @mohitsvnit please share the actual CURL and screenshot of Request tab for the above API

[2021-09-20 12:52] poojasngh432 commented on #81
Hi @srtvprateek
content-type is
application/*json - (When Response data is not showing)
application/json - (When Response data is showing)

[2021-09-20 13:16] srtvprateek commented on #81
@poojasngh432 not sure how to simulate `application/*json` content type,
can you point me to some documentation for it.

[2021-09-21 05:20] poojasngh432 commented on #81
The value passed for Content-type is "application/json "(Confirmed this by debugging).
But in the cases when response data is not showing, content-type is "application/*json" in pluto header data for response

Attaching full ss of both cases with Header data -

![Screenshot_2021-09-20-17-32-40-945_com aranoah healthkart plus (1)](https://user-images.githubusercontent.com/29397540/134115544-745e465

[2021-09-21 12:17] #81 closed, assigned to srtvprateek

[2021-09-21 16:01] srtvprateek commented on #71
hi @RoRoche,
can you share your use case in a bit more detail, it will help to solutionize this.

[2021-09-22 13:24] RoRoche commented on #71
I want to give debug access to only advanced users. It would be an option in a specific settings menu, accessible with a password. So it would be a checkbox "debug mode" and I'd like to dynamically start/stop Pluto on checkbox' changes.

[2021-09-23 08:23] AlexanderShirokih opened #84 "App crashes with java.util.ConcurrentModificationException"
**Describe the bug**
A fantom bug reproduced  in 1.0.4 that causes a crash with ConcurrentModificationException.

**To Reproduce**
Steps to reproduce the behavior:
Causes randomly.

**Expected behavior**
Application doesn't crashes

**Stack trace**
[code]

[2021-09-27 08:47] AlexanderShirokih commented on #84
@srtvprateek, @mocklets-tech, Fix that was made in #85 is not working.
Can you apply the solution in https://github.com/mocklets/pluto/pull/85#issuecomment-926647272? (Tested, it works)
Alternatively you can try to replace SyncronizedMap with ConcurrentHashMap.

[2021-09-28 11:46] #84 closed, assigned to srtvprateek

[2021-09-28 19:23] #72 closed, assigned to srtvprateek

[2021-09-29 17:38] srtvprateek commented on #78
hey @zhourenjun ,
can you verify on version 1.1.0

[2021-09-30 00:58] zhourenjun commented on #78
1.1.0 test

2021-09-30 08:56:14.558 E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-5
    Process: com.creative.recureB, PID: 22087
    java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.Context android.content.Context.getApplicationContext()' on a null object reference
        at android.content.ContextWrapper.getApplicationContext(ContextWrapper.java:11

[2021-09-30 01:01] zhourenjun commented on #78
java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.pm.ApplicationInfo android.content.Context.getApplicationInfo()' on a null object reference
	at android.content.ContextWrapper.getApplicationInfo(ContextWrapper.java:159)
	at com.mocklets.pluto.modules.preferences.SharedPrefRepoKt.getSharePreferencesFiles(SharedPrefRepo.kt:74)
	at com.mocklets.pluto.modules.preferenc

[2021-09-30 01:02] zhourenjun commented on #78
java.lang.InternalError: Thread starting during runtime shutdown
	at java.lang.Thread.nativeCreate(Native Method)
	at java.lang.Thread.start(Thread.java:733)
	at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:975)
	at java.util.concurrent.ThreadPoolExecutor.execute(ThreadPoolExecutor.java:1382)
	at androidx.arch.core.executor.DefaultTaskExecutor.executeOnDiskIO(DefaultTa

[2021-10-03 15:35] srtvprateek opened #91 "Support custom actions"
**Is your feature request related to a problem? Please describe.**
Support app-driven custom actions, which devs can trigger from Pluto UI

**Describe the solution you'd like**
Provide a UI handle in the Pluto UI, through which devs can trigger certain pre-defined tasks.

[2021-10-03 16:32] #52 closed, assigned to srtvprateek

[2021-10-04 07:44] mohitsvnit commented on #80
@srtvprateek it is happening for all the requests in our app. I will share the dummy API request and screenshot.

[2021-10-05 07:03] mlilienberg commented on #8
The PlutoInterceptor works great but additionally it would be nice to have access to NetworkCallsRepo, so that anyone can write a custom interceptor for any http client. We would like to use this to write our own interceptors for gPRC clients based on io.grpc.ManagedChannel. In my opinion this should not be difficult to achieve, only ResponseData.Protocol needs to be changed to not depend on okhtt

[2021-10-05 08:00] mlilienberg opened #92 "Possibility to disable isRooted checks"
Currently when a device is not rooted` RootUtil.checkRootMethod3()` is logging an error  `Cannot run program "/system/xbin/which": error=2, No such file or directory`
I am not sure if this log can be avoided. Maybe https://github.com/scottyab/rootbeer can help here. For us the info if a device is rooted or not is not so important and we would like to disable the root check. The crash logs could sh

[2021-10-05 08:21] mlilienberg opened #93 "Pluto is crashing when clicking on notification after app has been killed."
**Describe the bug**
Pluto app is crashing with `lateinit property session has not been initialized` when clicking on notification after the target app crashed or has been killed. I did not try to reproduce it in a more simple app with different launch mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Kill the hosting app
2. Click on the notification: "Pluto is debugging ..."
3. See app

[2021-10-05 10:10] srtvprateek commented on #93
hey @mlilienberg, can you please share the stack trace for the crash

[2021-10-05 14:40] mlilienberg commented on #93
I tried to reproduce a crash with a simple example app but without success. In a simple setup Pluto is starting correctly. Our app has multiple 100.000 lines of code in many modules and integrating a lot of third party dependencies, so i can not exclude that our setup is causing this. This is the stacktrace that i get in my app.

[code]

[2021-10-06 02:18] srtvprateek commented on #93
thanks, i ll check this

[2021-10-08 10:09] #76 closed, assigned to srtvprateek

[2021-10-19 14:55] AlexanderShirokih opened #95 "Pluto is crashing when clicking on notification on Android 4.4"
**Describe the bug**
After fixing #76 application starts well, but still crashes when open PlutoActivity

**To Reproduce**
Steps to reproduce the behavior:

1. Run the application
2. Open Pluto activity via notification

**Expected behavior**
Pluto successfully opens on API 19

**Smartphone:**
 - Device: Android emulator
 - OS: Android 4.4
 - Library Version 1.1.1

*Stack trace:*
E/AndroidRuntime:

[2021-10-25 10:40] Yaroslav-Syrota-Tictrac opened #96 "Pluto widget like option"
We use your library to monitor the status of requests and responses in our application. But we faced one problem - Pluto's widget leads to conflicts with automation tests of the application on the BrowserStack. It would be nice to add an option that will programmatically disable the use of the widget and Over Other App request, depending on the needs of the developers, leaving access only through

[2021-10-27 00:07] mimoccc opened #97 "Pluto should implement also openLog method"
Could be nice to have possibility to open PlutoActivity from hosting activity.
Something like:

Pluto.openLog(Screen.CrashAndAnr)

[2021-10-27 00:10] mimoccc opened #126 "Could be nice to have possibility to share whole log from one tab, not one item only."
When You open log and select for example 'Log' tab, there could be nice to have button to send whole log, all items inside to any other application or email.

[2021-10-27 00:11] mimoccc opened #99 "Nice to have: Possibility to cleanup log from hosting activity"
Could be nice to have something like :

Pluto.clearAllLogs()

and or :

Pluto.clearLog(Pluto.Network)
Pluto.clearLog(Pluto.CrashAndAnr)

[2021-10-27 19:25] vaibhav-sharechat commented on #80
Hi @srtvprateek any fix for this ?

[2021-10-28 04:19] srtvprateek commented on #80
hey @vaibhav-sharechat , can you help me with couple of information
- curl request
- screenshot of the request tab for the above api

[2021-10-28 06:14] vaibhav-sharechat commented on #80
@srtvprateek
![Screenshot_2021-10-28-11-00-41-174_in mohalla sharechat](https://user-images.githubusercontent.com/51905186/139193441-c9a11509-2adb-46b7-9753-d3c5ce6c1c41.png)
You can check the tab here. I can't provide the curl as it's a proprietary curl, but I can assure that we send 4-5 headers in every call which are not shown here. Also if we share the request they are not added into the curl

[2021-10-28 07:43] srtvprateek commented on #80
understood, let me check

[2021-11-16 15:55] radimjanda754 opened #100 "Almost whole response is truncated"
![image](https://user-images.githubusercontent.com/22325380/142019262-79a06841-c4c0-4f61-8948-6879e2734ab5.png)

I cannot see the response, for some reason pluto prints it on one line (even if its the long response) and even message is truncated. I'd like to see whole response like Gander can do it

[2021-11-16 15:55] radimjanda754 opened #127 "Almost whole response is truncated"
![image](https://user-images.githubusercontent.com/22325380/142019262-79a06841-c4c0-4f61-8948-6879e2734ab5.png)

I cannot see the response, for some reason pluto prints it on one line (even if its the long response) and even message is truncated. I'd like to see whole response like Gander can do it

[2021-11-16 15:56] radimjanda754 opened #101 "Improve pluto response search"
Pluto search just highlights the response, for long responses it's very hard what I'm searching. It would be perfect to have option to scroll to next found match (like Gander does it)

[2021-11-16 15:56] radimjanda754 opened #125 "Improve pluto response search"
Pluto search just highlights the response, for long responses it's very hard to find what I'm searching. It would be perfect to have option to scroll to next found match (like Gander does it)

[2021-12-08 13:24] mlilienberg commented on #93
I was debugging the issue a bit and found the cause. In our project we are initializing Pluto inside a koin module definition
[code]
Doing it this way Pluto is crashing when opening Pluto after the inspected app is killed or has crashed. It seems that the Pluto singleton becomes garbage collected when the application is closed. I am not sure why this only happens when it is loaded via koin maybe t

[2021-12-13 18:38] srtvprateek commented on #96
hey @Yaroslav-Syrota-Tictrac,
is disabling the widget option from Settings, not working for you?

[2021-12-13 18:40] srtvprateek commented on #97
@mimoccc so you need a method from which you can open the Pluto UI directly without notification/widget option?

[2021-12-15 19:36] mimoccc commented on #97
Unsure now the right reason i wrote this to you but yes.
For example could be nice to open activity with log from intent or a floating action button instead of your notification or your chrome button.
Enough could be if you make activity public, open and exported.
Programmer can then adapt your activity and modify as wish.
Unsure why one made classes final and internal.
All success is in to publis

[2021-12-17 02:46] jimlyas opened #103 "Duplicate value for Resource"
## Describe the bug
After adding the library to `build.gradle` every time i build, there's error claiming duplicate values for `defaultValues`

[code]

## To Reproduce

- Add libray to `build.gradle`
- Configure the library as intended
- Build application
- Build failed with error

## Expected behavior
The app build successfully

## Screenshots

![image](https://user-images.githubusercontent.com/3

[2022-01-01 00:19] #67 closed, assigned to nobody

[2022-01-03 08:45] srtvprateek commented on #8
@mlilienberg nice feature suggestion.
will look into this

[2022-01-05 06:37] Yaroslav-Syrota-Tictrac commented on #96
@srtvprateek will check. I'll let you know. Thanks a lot for your help and improvements!!!

[2022-01-09 11:58] GOVINDDIXIT opened #104 "add gradle script for dependency graph"
**Describe the solution you'd like**
Adding a grade script to generate the dependency graph of Pluto

[2022-01-09 12:19] #104 closed, assigned to nobody

[2022-01-09 14:39] emouawad opened #106 "Android TV support?"
Does this lib support Android TV?

Tested the lib on simulator for apis 28 30 and 31, I see from the logs that activity_tracker is working fine and traking the lifecycles fine.
ANR and logging events are also working fine.
Toast message also shows saying that pluto has been initialized successfully.

But for some reason, no Pluto notification has been generated, so I am unable to launch the underl

[2022-01-25 18:10] srtvprateek commented on #106
hey @emouawad ,
we support a floating notch to open the Pluto UI, not sure what's blocking notification on Android TV, will look into this.
Also, we are working on the new version of Pluto, where you can trigger the Pluto UI manually also.
will keep you posted.

[2022-01-25 18:20] srtvprateek commented on #103
hey @jimlyas,
happening due to colliding attr definition in one of the dependencies `androidx.preference:preference-ktx:1.1.1`,
a property SeekBarPreference is defined with attr min, which is conflicting with your value.

as a general practice, you can rename the attr key to something with does not conflict with any of the dependencies.

ref: https://github.com/mocklets/pluto/issues/23

[2022-01-25 18:20] #103 closed, assigned to srtvprateek

[2022-01-25 18:20] srtvprateek commented on #101
good suggestion,
will look into it

[2022-01-25 18:20] srtvprateek commented on #125
good suggestion,
will look into it

[2022-01-25 18:39] emouawad commented on #106
Thanks for your reply,
Yes manually launching the UI should do it, I think
Would be happy to test the new version when it comes, Thanks

[2022-01-26 12:24] lepicekmichal commented on #100
@srtvprateek  Whats up with this? 3 months old and yet no response

[2022-01-26 12:24] lepicekmichal commented on #127
@srtvprateek  Whats up with this? 3 months old and still no response. Pluto dead yet?

[2022-02-01 00:19] #95 closed, assigned to srtvprateek

[2022-02-01 00:19] #91 closed, assigned to nobody

[2022-02-01 00:19] #65 closed, assigned to nobody

[2022-02-01 00:19] #53 closed, assigned to srtvprateek

[2022-02-08 11:54] srtvprateek commented on #106
thanks to @tpakis, this is resolved
will be published in version `1.1.3`

[2022-02-08 11:54] #106 closed, assigned to nobody

[2022-02-08 11:57] srtvprateek commented on #97
hey @mimoccc,
this is taken care in the [new architecture](https://github.com/mocklets/pluto/pull/109).
will have capability to open any debugger screen with `Pluto.open(DEBUGGER_ID)`

[2022-02-08 12:54] srtvprateek commented on #96
@Yaroslav-Syrota-Tictrac we now support opening Pluto UI programmatically without `draw over other apps` permission.
from version `1.1.3` onwards, you can call `Pluto.showUi()` to open Pluto UI directly

[2022-02-08 12:54] #96 closed, assigned to nobody

[2022-02-08 13:03] srtvprateek commented on #127
@lepicekmichal no, its not dead yet,
we are working on a [new architecture](https://github.com/mocklets/pluto/pull/109)

will check this issue on urgency

[2022-02-08 13:47] Yaroslav-Syrota-Tictrac commented on #96
@srtvprateek it's working for us, thanks a lot!!!!

[2022-02-08 14:56] srtvprateek commented on #127
@radimjanda754 sorry for the delay,
response will be printed in one-line only if there is JSON parsing error.
so can please check if you are getting any error log with `tag=pluto_sdk` and `message=json parsing failed` along with the exception.
this should be coming when you receive the response for the above API.

[2022-02-12 10:46] srtvprateek opened #124 "memory leak"
┬───
    │ GC Root: Input or output parameters in native code
    │
    ├─ android.os.MessageQueue instance
    │    Leaking: NO (MessageQueue#mQuitting is false)
    │    HandlerThread: "main"
    │    ↓ MessageQueue.mMessages
    │                   ~~~~~~~~~
    ├─ android.os.Message instance
    │    Leaking: UNKNOWN
    │    Retaining 702.5 kB in 11971 objects
    │    Message.what = 0
    │

[2022-02-14 17:48] srtvprateek commented on #97
this is live with version `2.0.0`

[2022-02-14 17:48] #97 closed, assigned to nobody

[2022-02-15 05:40] jimlyas commented on #93
I think for this, you should place `Pluto.initialize(androidApplication())` inside your Application class.

So your Koin module only defining the interceptor.

[2022-02-18 09:29] Woren opened #115 "Missing version - pluto-no-op 2.0.0"
If I'm looking correctly, there is no 2.0.0 no-op version released on maven central. The latest is 1.1.3-alpha
https://search.maven.org/search?q=g:com.plutolib%20AND%20a:pluto-no-op

Also no-op version is not mentioned in readme and only debugImplementation dependency is mentioned.

Please align no-op version with newest release and add info to readme like

    debugImplementation "com.plutolib:pl

[2022-02-19 10:46] #115 closed, assigned to srtvprateek

[2022-02-19 12:30] srtvprateek commented on #115
hey @Woren,
added support for `no-op` in all the plugins too.

[2022-02-20 20:11] radimjanda754 commented on #127
@srtvprateek Hello, updated to 2.0.
For now I'm not able to reproduce one-line issue, will tell you if I'll see it again.
However I'm upset that responses are still getting truncated at all. it would be nice to show the whole response like Gander does it for example.

[2022-02-21 08:54] srtvprateek commented on #127
@radimjanda754 the logic of truncation was added to prevent a performance issue, in case the body length was more than 25,000 characters.
we are working on that issue as well, that'll be fixed in future releases.

[2022-02-21 08:58] lepicekmichal commented on #127
@srtvprateek Please link that issue so we can bump it up. This is really annoying bug.

As for performance, there is no need to always parse it. When we open specific response tab is soon enough. Loading would be more acceptable than truncating it.

[2022-02-21 09:12] srtvprateek commented on #127
@lepicekmichal seems like you only raised the [issue](https://github.com/plutolib/pluto/issues/72).
we made some improvements, but searching in large content size still have some performance issues.

the new architecture provides more freedom with these issues, let me see if we can get rid of the content limit.

[2022-04-05 05:27] #126 closed, assigned to srtvprateek

[2022-04-22 13:56] ishaan1995 opened #136 "Is ANR detection in the scope of pluto v2.0?"
**Is your feature request related to a problem? Please describe.**
Just saw that ANR detection was already part of pluto v1. Not able to find same in the new version 2.0.
If it's not part of the scope, was there any issue with the previous implementation?

**Describe the solution you'd like**
Bring back the ANR detection as part of your latest release.

**Describe alternatives you've considered**

[2022-04-26 06:38] srtvprateek commented on #136
hey @ishaan1995,
yes, we saw some instances where we were getting false positives for ANRs, causing confusion. We are working on a couple of approaches
1. make a separate ANR detection plugin
2. using bugsnag library to detect ANR for better precision.

Will keep posted on update.

[2022-04-26 09:44] ishaan1995 commented on #136
@srtvprateek What about using this library: https://github.com/SalomonBrys/ANR-WatchDog?

[2022-04-26 12:40] srtvprateek commented on #136
ANRWatchDogs are the inferential ways to detect potential ANRs, not the actual ANR.
We are trying to figure out a better way to catch the ANRs with better accuracy.

But, since you are already using it, we'll expedite it and publish the plugin soon.

[2022-04-28 13:21] saranakkaraviwat commented on #19
@srtvprateek i found this issue again in 2.0.1-beta

[2022-04-29 19:08] srtvprateek commented on #19
@saranakkaraviwat thanks for raising this,
this is fixed in https://github.com/plutolib/pluto/pull/137, will be available in the next version.

[2022-05-28 07:16] #124 closed, assigned to nobody

[2022-06-01 00:35] #93 closed, assigned to srtvprateek

[2022-07-11 17:50] bansalayush opened #152 "Network response and request size"
**Is your feature request related to a problem? Please describe.**
display network response and request sizes

**Describe the solution you'd like**
display network response and request sizes

**Describe alternatives you've considered**
None

[2022-07-14 19:34] #152 closed, assigned to nobody

[2022-07-15 20:50] srtvprateek commented on #127
this is fixed with commit 4402aee5f41ed13c8815fa29fc5fda1d4b83ca24

[2022-07-15 20:50] #127 closed, assigned to nobody

[2022-07-22 04:44] #136 closed, assigned to srtvprateek

[2022-07-29 17:45] dharamveer-appyhigh opened #164 "AAPT: error: resource android:attr/lStar not found."
**Describe the bug**
Exception is occurred when trying to implement any Pluto version
for `v1.1.1` - it was duplication classes issue.
now `AAPT: error: resource android:attr/lStar not found.`

**To Reproduce**
- Add libray to `build.gradle`
- Configure the library as intended
- Build application
- Build failed with error

**Screenshots**
version `1.1.1` -
<img width="978" alt="image" src="https:/

[2022-08-02 04:40] srtvprateek commented on #164
@dharamveer-appyhigh issue seems to be with `androidx.core:core-ktx` library,
can you share what version of the above library are you using? (Pluto uses version `1.7.0`)

you can also try this out https://programmerah.com/solved-aapt-error-resource-androidattr-lstar-not-found-47339/

[2022-08-02 05:17] dharamveer-appyhigh commented on #164
@srtvprateek
I am working on a multi-module app, so `androidx.core:core-ktx` versions are different in different modules.
Like below -
Module 1 - `androidx.core:core-ktx:1.3.2`
Module 2 - `androidx.core:core-ktx:1.3.2`
Module 3 - `androidx.core:core-ktx:1.3.2`
Module 4 - `androidx.core:core-ktx:1.5.0`
**Main App** - `androidx.core:core-ktx:1.6.0`

And in **Main App build.gradle**,
[code]

Do I hav

[2022-08-02 05:17] dharamveer-appyhigh commented on #164
@srtvprateek
I am working on a multi-module app, so `androidx.core:core-ktx` versions are different in different modules.
Like below -
Module 1 - `androidx.core:core-ktx:1.3.2`
Module 2 - `androidx.core:core-ktx:1.3.2`
Module 3 - `androidx.core:core-ktx:1.3.2`
Module 4 - `androidx.core:core-ktx:1.5.0`
**Main App** - `androidx.core:core-ktx:1.6.0`

And in **Main App build.gradle**,
[code]

Do I hav

[2022-08-02 10:54] srtvprateek commented on #164
@dharamveer-appyhigh since you are forcing version `1.6.0` for `androidx.core:core-ktx`,
Pluto is not able to find the attr added in version `1.7.0`, so it's crashing.
Can the force resolution be removed? This'll allow Pluto to keep using version `1.7.0` and crash will be avoided.

[2022-08-02 12:18] dharamveer-appyhigh commented on #164
@srtvprateek sure, will try doing this way 👍

[2022-08-02 12:19] dharamveer-appyhigh commented on #164
@srtvprateek sure, will try doing this way 👍

[2022-08-03 10:00] ishaangarg opened #167 "Need a cleaner way to integrate all default modules"
The new way of declaring separate dependencies for each module is great for extensibility. But leads to a very poorly readable Build.Gradle file, see how my project now has 20 dependencies for Pluto:
![image](https://user-images.githubusercontent.com/10320019/182580710-13f34300-4457-456e-89bb-b05b77ecfe19.png)

Is there a cleaner way of declaring all essential modules, especially for projects with

[2022-08-03 17:31] srtvprateek commented on #167
nice suggestion @ishaangarg, let me see what we can do.

[2022-08-05 09:05] ReggieLei opened #169 "An Int is converted to a double"
com.plutolib.plugins:network:2.0.3  response -> body   Int is converted to a double ....

[2022-08-05 12:06] srtvprateek commented on #169
hey @ReggieLei, can you share more details & steps to reproduce the issue.

[2022-08-08 10:12] jaykasliwal commented on #164
@srtvprateek Im also facing the same issue.
1) My CompileSDK version is 30 and Im using core-ktx as 1.6.0
Still getting the same issue.
2) Have even tried upgrading the core-ktx version to 1.7.0 and compilesdk version to 31
But still facing the same issue.

Can you pls help me to resolve the same as soon as possible?

Thanks in advance.

[2022-08-08 10:46] ReggieLei commented on #169
Right back
[{
	"deviceId": "905436c790da4766a1c8e7d213f6a765",
	"deviceCode": "NIC1C2206022",
	"fourGOnline": 0,
	"wifiOnline": 1,
	"bluetoothOnline": 1,
	"wifiStrength": 18,
	"fourGStrength": 0,
	"pileStatus": -1,
	"isAdmin": 1,
	"isForbid": 1,
}]

pluto catch back
RESPONSE
*** Body ***
[
  {
    "deviceId": "905436c790da4766a1c8e7d213f6a765",
    "deviceCode": "NIC1C2206022",
    "fourGOnline":

[2022-08-08 21:17] srtvprateek commented on #169
thanks for posting the issue @ReggieLei .

JSON is a type agnostic representation. As per official JSON docs

https://json-schema.org/understanding-json-schema/reference/numeric.html

That said, we ll definitely look into it, if we can differentiate between Integer & Double.

[2022-08-08 21:21] srtvprateek commented on #164
@jaykasliwal please check if your app module is forcing version `1.6.0`
ref https://github.com/plutolib/pluto/issues/164#issuecomment-1202027791

[2022-08-09 03:35] ReggieLei commented on #169
Maybe you can try  (https://github.com/alibaba/fastjson2)

or  extends  to rewrite TypeAdapter for Gson
public class MapTypeAdapter extends TypeAdapter<Object> {

    private final TypeAdapter<Object> delegate = new Gson().getAdapter(Object.class);

    @Override
    public Object read(JsonReader in) throws IOException {
        JsonToken token = in.peek();
        switch (token) {
            cas

[2022-08-09 05:56] srtvprateek commented on #169
sure @ReggieLei,
thanks for the suggestion, will look into this

[2022-08-09 13:49] #167 closed, assigned to srtvprateek

[2022-08-09 14:26] srtvprateek commented on #167
@ishaangarg this is done,
we have published `bundle-core` with all the core plugins integrated within.

[code]

for more info, refer project README.md

[2022-08-09 14:28] srtvprateek commented on #164
@dharamveer-appyhigh @jaykasliwal we have downgraded our `android-core` version to `1.6.0` in our latest release.
Try it out once, and see if the issue is fixed.

[2022-08-09 14:28] #164 closed, assigned to srtvprateek

[2022-08-09 15:19] ishaangarg commented on #167
Awesome, thanks! 😍

On Tue, Aug 9, 2022, 7:56 PM Prateek Srivastava ***@***.***>
wrote:

[2022-08-10 11:17] srtvprateek commented on #67
@sonusourav Pluto now supports Rooms DB on version `2.0.0+`

[2022-08-10 11:20] srtvprateek commented on #14
@YurkivTaras timber support added in version `2.0.0`

[2022-08-10 11:20] #14 closed, assigned to srtvprateek

[2022-08-10 11:30] srtvprateek commented on #65
@jimlyas @sonusourav Pluto 2.0.0+ now supports Rooms DB and Datastore Preferences

[2022-08-11 02:26] ReggieLei opened #173 "URL item is not fully displayed"
version 2.0.3
<img width="218" alt="1660184399711" src="https://user-images.githubusercontent.com/11516346/184054461-c1110170-f96b-4c7e-80e9-791d88d81cb0.png">

version 2.0.4
![1660184273621](https://user-images.githubusercontent.com/11516346/184054509-39ea6bf0-3614-45fc-9a1e-c9843ab5a633.jpg)

version 2.0.3  tabLayout + viewpager2 .    It can be used in version 2.0.4 ？

[2022-08-11 10:03] #173 closed, assigned to srtvprateek

[2022-08-12 14:46] ishaangarg opened #176 "v2.0.4 moshi & SharedPrefs crash"
**Describe the bug**
ExceptionInInitializerError: Cannot serialize Kotlin type com.pluto.plugins.preferences.ui.SharedPrefFile. Reflective serialization of Kotlin classes without using kotlin-reflect has undefined and unexpected behavior. Please use KotlinJsonAdapterFactory from the moshi-kotlin artifact or use code gen from the moshi-kotlin-codegen artifact.
    for class com.pluto.plugins.prefer

[2022-08-13 17:25] #176 closed, assigned to srtvprateek

[2022-08-13 18:19] srtvprateek commented on #173
fixed in version `2.0.5`

[2022-08-13 18:19] srtvprateek commented on #176
fixed in version `2.0.5`

[2022-08-24 19:24] #99 closed, assigned to nobody

[2022-08-29 08:11] sudeepmotwani-cred opened #180 "Delete Mock setting is not working"
**Describe the bug**
already added mock settings is not getting deleted by clicking on delete settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to particular mocked api
2. Click on update mock
3. click on delete mock settings

**Expected behavior**
mock should be deleted

[2022-09-14 14:10] srtvprateek opened #181 "Crash on app launch"
Fatal Exception: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
       at java.util.ArrayList.get(ArrayList.java:437)
       at com.dreamplug.deviceattributes.DeviceFingerPrint.init(DeviceFingerPrint.java:247)
       at com.dreamplug.deviceattributes.DeviceAttributes.register(DeviceAttributes.java:142)
       at com.dreamplug.deviceattributes.DeviceAttributes.lambda$registerFingerprint$0(D

[2022-09-27 13:00] ritesh-karmare opened #182 "Unable to integrate Pluto (Build Issue: Moshi Error)"
@srtvprateek

I am integrating Pluto library in my project with Crashes and Exceptions plugins.
When I try to build the project it gives following error:
`Record requires ASM8`

**Android Studio Version:** Android Studio Dolphin | 2021.3.1
**minSdkVersion:** 21
**targetSdkVersion:** 30

**build tool:** classpath 'com.android.tools.build:gradle:7.0.3
**kotlin plugin:** org.jetbrains.kotlin:kotlin-g

[2022-10-19 07:39] ishaangarg opened #188 "ConcurrentModificationException crash"
Encountered a crash while switching between app & pluto multiple times.

**Smartphone:**
 - Device: Redmi 6A
 - OS: Android 9
 - Library Version: 2.0.5

**Stacktrace**
[code]

[2022-10-21 12:20] #188 closed, assigned to srtvprateek

[2022-10-26 09:24] riteshkarmare commented on #182
@srtvprateek Any update?

[2022-10-26 12:32] srtvprateek commented on #182
@ritesh-karmare still looking into this,
not able to reproduce it

Can you try using Moshi without Pluto?

[2022-10-27 15:13] akshaytandroid commented on #182
Same issue for me when I tried implementing the library.

[2022-10-28 14:05] ishaangarg opened #192 "Timber crash due to lambda fun in java"
**Describe the bug**
App crashes when trying to log to Timber with a pluto tree from a lambda fun in a java class

**To Reproduce**
Steps to reproduce the behavior:
1. Add a lambda fun in a java class
2. log to timber in the lambda fun, like so: `Timber.d("this will crash");`
3. run the app to reach this log & we'll get a crash

**Smartphone:**
 - Device: Emulator
 - OS: Android 12
 - Library Vers

[2022-10-28 15:54] srtvprateek commented on #192
@ishaangarg can you share the code snippet also?

[2022-10-28 18:28] akshaytandroid commented on #182
adding` android.jetifier.blacklist = com.squareup.moshi` to the gradle.properties helped me get rid of this error.

[2022-10-28 19:33] #182 closed, assigned to srtvprateek

[2022-10-31 12:19] ishaangarg commented on #192
Sorry should've started with the snippet. here it is:

`btn.setOnClickListener(v -> Timber.d("this will crash"));`

For reference, here's how Pluto is initialized:
[code]

[2022-11-15 05:25] #192 closed, assigned to srtvprateek

[2022-11-26 11:24] akshay-nak opened #195 "Unable to see Pluto in notifications."
**Describe the bug**
A clear and concise description of what the bug is.
I am unable to see the Pulto running in the notifications thus making it not possible to view the logs and reports.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Pluto implemented app on the Android 13 device.

**Expected behavior**
Show Pluto service running in the notification.

**Screenshots**
![Screenshot_

[2022-11-26 11:27] #195 closed, assigned to srtvprateek